mat-icon[fontIcon=task_alt] {
    color: var(--mat-sys-primary) !important;
    font-size: 12.5rem !important;
    height: 12.5rem !important;
    width: 12.5rem !important
}

form {
    padding: 8px;
}