.mat-mdc-snack-bar-container.snackbar-success {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}
.mat-mdc-snack-bar-container.snackbar-error {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}